{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="span8 offset2">
        <h1>Välkommen till Uppsala Barn!</h1>
        <!-- TODO: hero unit on no cookie -->
        <p>Här hittar du aktiviteter och evenemang för barn i Uppsala.</p>
        <table class="table table-striped" id="activity-table">
            <thead>
                <tr>
                    <th>Namn</th>
                    <th>Datum</th>
                </tr>
            </thead>
            <tbody>
                {% for act in acts %}
                <tr>
                    <td><a href="/activity/{{ act.slug }}">{{ act.name }}</a></td>
                    <td> {{ act.starts_at.date() }} </td>
                    </a>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
