<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Uppsala barn</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Aktiviteter för barn i uppsalAktiviteter för barn i uppsala">
        <meta name="author" content="oskar.blom@gmail.com">

        <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="/static/css/app.css" rel="stylesheet" type="text/css">

        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

    </head>

    <body>

        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="/">Uppsala barn</a>
                    <ul class="nav">
                        <li {% if request.path in ['/'] %}class="active"{% endif %}><a href="/">Aktiviteter</a></li>
                        <li {% if request.path in ['/about'] %}class="active"{% endif %}><a href="/about">Om</a></li>
                        <li><a href="#contact">Kontakt</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container">{% block content %} {% endblock %}
            <footer><p>En webbtjänst av <a href="http://oskarblom.se">Oskar Blom</a></p></footer>
        </div> <!-- /container -->

        <script src="/static/vendor/jquery/js/jquery-1.7.2.min.js"></script>
        <script src="/static/vendor/bootstrap/js/bootstrap.js"></script>
    </body>
</html>

